#container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 250px;
}

.range-control {
    width: 500px !important;
    transform: rotate(-90deg);
}
