#container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.range-horizontal {
    width: 300px;
}

.range-vertical {
    width: 250px;
    height: 300px;
    writing-mode: vertical-rl;
}
